*{
    margin:0;
    font-size: 20px;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0%;
    background: #142644;
}
.body-about{
    width: 100%;
}
.body-bio-lab{
    background-color: white;
}
.body-academics{
    overflow: hidden;
}
.header {
    z-index:999;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    height: 75px;
    overflow: hidden;
}
.header div{
    background-color: #1a3289;
    display: flex;
    width: 100%;
  }
  .header div div{
    background-color: #1a3289;
    display: flex;
    width: auto;
justify-content: center;
  }
  .navbar{
    background-color: #1a3289;
    display: flex;
    width: 100%;
    padding: 0 0;
    margin: auto;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    z-index: 999;
    background-color: #1a32895b;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding: auto;
  }
  .sidebar li{
    padding: 10px;
    width: auto;
    height:5%;
    display: flex;
    margin: auto;
    justify-items: center;
    align-items: center ;
  }
  .sidebar a{
    width: auto;
  }
  .header div ul li {
    list-style: none;
    align-items: end;
    margin: 0 5%;
    text-decoration: none;
    position: relative;
  }
  .header div ul li span{
    color: aliceblue;
    font-size: xx-large;
    transform: translateY(15%);
  }
  .header ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
  }
  .header ul li:hover::after {
    width: 100%;
  }
  .header ul li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
  }
  .navbar ul {
    display: flex;
    text-decoration: none;
    width: 94%;
    justify-content: flex-end;
  }
  .logo {
    margin: 0.2%;
    width: 75px;
  }
  .motto-container {
    margin-top: 75px;
    width: 100%;
    position: relative;
  }
  .motto-container img{
    width: 100%;
  }
.motto{
    margin-top: 50px;;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    color: aliceblue;
}
.motto h1{
    font-size: 40px;
}
#index-welcome{
    margin-top: 0;
}
.motto span{
    font-size: 25px;
}
  .schoolname {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }
  .schoolname h1 {
    margin: 0;
    margin-top: 1%;
    color: #fff;
    font-size: xx-large;
    letter-spacing: 3px;
    padding: 0;
  }
  .schoolname p {
    margin: 0;
    padding: 0%;
    color: #fff;
    letter-spacing: 2px;
  }
.quoters{
    width: 100%;
    background-color:#52658F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.promo{
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    border-radius: 7px;
    background-color:#142644;
    height: 400px;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}
.quote{
    width: 100%;
    height: 100%;
    z-index: 2;
    line-height: 0.8;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    text-align: center;
    margin: 5px 5px;
}
.quote img{
    border-radius: 50%;
    border: 10px solid #AECFDB;
    position: relative;
    width: 120px;
    transform: translateY(-50%);
}
.quote p{
    color: aliceblue;
    position: absolute;
    padding: 10px 10px;
    font-size: 25px;
    transform: translateY(60%);
}
.quote span{
    top: 20px;
    color: #AECFDB;
    font-size: 20px;
    letter-spacing: 3px;
}
.vid{
    width:100%;
    margin-top: 20px;
    text-align: center;
}
.container{
    width: 100%;
    display: flex;
}
.sub-container {
    display: flex;
    width: 100%;
  }
  .sub {
    margin: 5%;
    margin-top: 10%;
    margin-bottom: 0%;
    text-align: center;
  }
  .sub img {
    width: 80%;
  }
  .link {
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
  }
.about-section{
    margin-top: 75px;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    background-color: #AECFDB;
}
#history-title{
    color: #fff;
    background-color: transparent;
}
.about-section span{
    font-weight: 400;
    position: relative;
}
.history{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/bg2.jpg);
    background-size: cover;
    min-height:90vh;
}
.timeline{
    position: relative;
    max-width: 90%;
    margin: auto;
}
.box{
    display:table-cell;
    box-sizing: border-box;
    padding: 10px 10px;
    position: relative;
    top: 40px;
    left:0;
}
.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
}
.timeline::after{
    z-index: 2;
    content:"";
    position:absolute;
    width: 100%;
    height: 6px;
    background: white;
    top:0;
    left:0;
}
.arrow{
    height: 0;
    width:0;
    position: absolute;
    bottom: 99%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    left: 50px;
    z-index: 1;
}
.people{
    letter-spacing: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.card{
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    border: 3px solid #AECFDB;
    border-radius: 7px;
    color: #3E363F;
    height: 225px;
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}
.teacher{
    height: 225px;
    width: 22%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}
.content{
    z-index: 2;
    line-height: 0.8;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    text-align: center;
    width: 80%;
    margin: 5px 5px;
}
.content img{
    border-radius: 50%;
    position: relative;
    width: 120px;
    margin: 10px;
    opacity: 0.5;
    transform: translateY(0);
    transition: 0.4s;
}
.content h2{
    position: absolute;
    font-size: 30px;
    width: 100%;
    color: #142644;
    opacity: 0;
    transition: 0.4s;
    transform: translateY(150%);
}
.content h2 span{
    font-size: 20px;
    font-weight: 400;
}
.card:hover{
    transition: 0.4s;
    background: #AECFDB;
}
.card:hover .content img{
    opacity: 1;
    width: 100px;
    transform: translateY(-50%);
}
.card:hover .content h2{
    opacity: 1;
    transform: translateY(100%);
}
.body-contact{
    background: #52658F;
    margin-top: 75px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-contacts{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:#142644;
    border-radius: 6px;
    padding: 20px 20px;
    box-sizing: border-box;
}
.contacts{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
.details{
    position: relative;
    border-radius: 6px;
    border: 2px solid #AECFDB;
    background-color:transparent;
    text-align: center;
    height:80px;
    margin: 10px 10px;
    transition: 0.4s;
}
.details p{
    color: #142644;
    opacity: 0;
    transition: 0.4s;
}
.details i{
    color:#AECFDB;
    transform: translateY(30%);
    z-index: 1;
    font-size: 50px;
    transition: 0.4s;
}
.details:hover{
    background-color: #AECFDB;
    height: 175px;
}
.details:hover i{
    transform: translateY(0);
    color: #142644;
}
.details:hover p{
    opacity: 1;
}
.contact-form{
    width: 70%;
    justify-content: center;
}
.input-box{
    padding: 10px 10px;
    width: 80%;
    background-color: #e4e4e4;
    border: transparent;
    border-radius: 6px;
    margin: 10px 10px;
}
.comment-form{
    display: flex;
    flex-direction: column;
}
.contact-form h2{
    color: #AECFDB;
    font-size: 50px;
    font-weight: 3px;
}
.message-box{
    height: 120px;
}
.send-button{
    cursor: pointer;
    padding: 15px 20px;
    width: fit-content;
    border-radius: 10px;
    border: 2px solid #AECFDB;
    background-color:transparent;
    color: aliceblue;
    transition: 0.4s
}
.send-button:hover{
    background-color:#AECFDB;
    color: #142644;
}
.club-container{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}
.school-clubs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.club{
    height: 200px;
    width: 300px;
    margin: 10px 10px;
    position: relative;
}
.club img{
    border-radius: 6px;
    height: 200px;
    width: 300px;
}
.club-info{
    border-radius: 6px;
    color: #fff;
    background-color: #aecfdba9;
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    opacity:0;
    transition: 0.4s;
}
.club-info h2{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: 0.4s;
}
.club-info button{
    position: relative;
    font-size: 15px;
    color:#fff;
    cursor: pointer;
    background: transparent;
    border:2px solid #fff;
    transform: translateY(0);
    transition: 0.4s;
}
.club-info:hover{
    opacity: 1;
}
.club-info:hover h2{
    transform: translateY(-60%);
}
.club-info:hover button{
    transform: translateY(-20%);
}
.sub-container {
    display: flex;
    width: 100%;
  }
.sub {
    margin: 2%;
    margin-top: 6%;
    margin-bottom: 0%;
    text-align: center;
    color: #fff;
  }
.sub h2{
    font-size: 25px;
}
.sub img {
    width: 80%;
  }
  .link {
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
  }
  .english-container{
    position: relative;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:start;
  }
  .sonnets{
    margin-top: 10px;
    color: aliceblue;
    line-height: 1.6;
    width: 50%;
    overflow: hidden;
  }
  .sonnets h1{
    position: relative;
    width: 80%;
    border-radius: 6px;
    font-size: 40px;
    padding: 0 5px;
    background:#AECFDB;
    color:#142644;
    margin-bottom: 10px;
  }
  .sonnets h2{
    width: 60%;
    font-size: 25px;
    color: #AECFDB;
  }
  .sonnets p{
    padding: 0 10px;
    text-align: left;
  }
  .hide-on-mobile{
    display: inherit;
}
.menu-button{
    display: none ;
}





.bio-header{
    display: flex;
    height: 50vh;
    margin-top: 75px;
    background-color: #222E50;
}
.bio-header-main{
    color: aliceblue;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
}
.bio-header-side{
    color: aliceblue;
    width: 55%;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio-header-main h1{
    font-size: 80px;
}
.bio-header-main h3{
    font-size: 25px;
}
.bio-bottom{
    width: 90%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bio-lab-button{
    width: 50%;
    margin-left: 10%;
    height: 100px;
    border-radius: 50px;
    background-color: #222E50; 
}
.bio-lab-button span a{
    width: 100%;
    height: 100px;
    border-radius: 50px;
    display: flex;
    transform: translateY(-100%);
}
.bio-lab-button h1{
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100px;
    color: aliceblue;
}
.bio-card{
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    border-radius: 7px;
    color: #3E363F;
    height: 300px;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    transform: translateY(-40%);
}
.bio-card-content{
        z-index: 2;
        line-height: 0.8;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        transition: 0.4s;
        text-align: center;
        margin: 5px 5px;
}
.bio-card-content img{
    border-radius: 50%;
    position: relative;
    width: 120px;
    margin: 10px;
    transform: translateY(0);
    transition: 0.4s;
}
.bio-card-content h2{
    position: absolute;
    font-size: 30px;
    width: 200px;
    color: #142644;
    opacity: 0;
    transition: 0.4s;
    transform: translateY(90%);
}
.bio-card-content h2 span{
    font-size: 20px;
    font-weight: 400;
}
.bio-card:hover{
    transition: 0.4s;
    background: #AECFDB;
}
.bio-card:hover .bio-card-content img{
    opacity: 1;
    width: 150px;
    transform: translateY(-40%);
    z-index: 99;
}
.bio-card:hover .bio-card-content h2{
    opacity: 1;
    transform: translateY(80%);
    margin-top: 40%;
    width: 200px;
}
.bio-header2{
    display: flex;
    height: 40vh;
    margin-top: 75px;
    background-color: #222E50;
}
.bio-header-lab{
    color: aliceblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    transform: translateY(10%);
}
.bio-header-lab h1{
    font-size: 50px;
}
.bio-header-lab h3{
    font-size: 25px;
}
.photos{
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.photos img, .photos iframe{
    width: 350px;
    margin-top: 20px;
    display: flex;
    height: 262.5px;
    object-fit: cover;
}
.bio-bottom-info{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.bio-bottom-info div{
    margin-top: 100px;

}
.bio-bottom-info div p{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 25px;
}
.bio-bottom-info hr{
    height: 10px;
    width: 90%;
background: #222E50;
}
.white-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blue-page{
    width: 100%;
    height: 70vh;
    margin-top: 20px;
    background-color: #222E50;
    display: flex;
}
.blue-page p{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
}
.white-page h1{
    font-size: 50px;
    color: black;
}
.white-page hr{
    height: 10px;
    width: 90%;
background: #222E50;
margin-top: 80px;
}
@media screen and (max-width: 800px){
    .body-academics{
        overflow: scroll !important;
    }
    .timeline{
        display: block;
        margin: 50px auto;
    }
    .text-box{
        padding: 20px 30px;
        background: #fff;
        position: relative;
    }
    .timeline{
        flex-direction: column;
    }
    .timeline::after{
        width:6px;
        height: 100%;
        top:0;
        left: 30px;
    }
    .box{
        display:block;
        width:100%;
        padding-left: 80px;
        padding-right: 20px;
        transform: translateY(0);
        top: 0;
    }
    .arrow{
        height: 0;
        width:0;
        position: absolute;
        top: 10px;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid white;
        border-left: transparent;
        left: -10px;
        z-index: 1;
    }
    .promo{
        width: 100%;
        height: 200px;
        flex-direction: column;
    }
    .quote{
        flex-direction: row;
    }
    .container-contacts{
        width: 90%;
        flex-direction: column-reverse;
    }
    .contacts{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .details{
        width: 100%;
    }
    .contact-form{
        width: 100%;
        align-items: center;
    }
    .quote{
        flex-direction: row;
    }
    .quote img{
        transform: translateY(0);
        transform: translateX(-60%);
    }
    .container {
        display: flex;
        flex-direction: column;
      }
    .quote p{
        width: 50%;
        transform: translateY(0);
        transform: translateX(40%);
    }
    .hide-on-mobile{
        display: none !important;
    }
    .navbar{
        justify-content: flex-end;
    }
    .menu-button{
        display: flex;
    }
    .container{
        margin-top: 75px;
    }
    .sub-container{
        margin-top: 75px;
        flex-direction: column;
    }
    .english-container {
        flex-direction: column;
        padding: 0 0;
    }
    .sonnets{
        width: 100%;
    }
    .sonnets p{
        padding: 0 15px;
    }
    .bio-bottom{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    .bio-lab-button{
        width: 80%;
        margin-left: 0px !important;
        height: 100px;
        border-radius: 50px;
        background-color: #222E50; 
    }
    .bio-card{
        width: 60%;
    }
    .vid video{
        width: 90% !important;
    }
    .link {
        display: flex;
        position: absolute;
        width: 100%;
        height: 700px;
        transform: translateY(-100%);
      }
}
@media screen and (max-width: 400px){
    .motto{
        margin-top:20px;
    }
    .timeline{
        margin: 50px auto;
    }
    .text-box{
        padding: 20px 30px;
        background: #fff;
        position: relative;
    }
    .timeline::after{
        width:6px;
        height: 100%;
        top:0;
        left: 30px;
    }
    .box{
        display:block;
        width:100%;
        padding-left: 80px;
        padding-right: 25px;
        transform: translateY(0);
    }
    .down-box{
        left: 0;
    }
    .up-box{
        left:0;
    }
    .up-box h2{
        left: 30px;
    }
    .down-box h2{
        left: 30px;
    }
    .arrow{
        height: 0;
        width:0;
        position: absolute;
        top: 10px;;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid white;
        left: -10px;
        z-index: 1;
    }
    .card{
        flex-direction: row;
        height: 170px;
        width: 90%;
    }
    .content{
        flex-direction: row;
    }
    .contacts{
        width: 100%;
        flex-wrap: wrap;
    }
    .content h2{
        transform: translateX(60%);
        width: 60%;
    }
    .card:hover .content img{
        transform: translateX(-95%);
    }
    .card:hover .content h2{
        transform: translateX(40%);
        width: 60%;
    }
    .sidebar{
        width: 100%;
    }
    .bio-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bio-header-side{
        width: 80%;
        text-align: center;
    }
    .bio-card{
        transform: translateY(2%);
    }
    .bio-lab-button h1{
        text-align: center;
    }
    .photos{
        flex-direction: column;
        align-items: center;
    }
    .bio-header-lab{
        text-align: center;
    }
    .bio-header2{
        height: 65vh;
    }
    .bio-bottom-info{
        height: 110vh;
    }
    .blue-page{
        height: 120vh;
    }
    .white-page{
        height: 100vh;
    }
    .header{
        width: 390px;
    }
    .body-contact{
        margin-top: 100px;
    }
    .link {
        display: flex;
        position: absolute;
        width: 90%;
        height: 320px;
        transform: translateY(-100%);
      }
}
